@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-lightgreen: #2d7a66;
  --color-darkgreen: #204b54;
}

:root {
  font-family: "Outfit", sans-serif;
}
/* 
*{
  outline: 1px solid red;
} */